@media (max-width: 1200px) {
  .container {
    width: 90%;
    border: 1px solid black;
  }

  #hero .hero div .hero-img2 {
    top: 155px;
    right: 0;
  }

  #menu .menu div .menu-logo {
    left: 275px;
    top: 1211px;
  }

  #menu .menu div .menu-logo {
    left: 275px;
    top: 1211px;
  }

  #menu .menu div .menu-pizza1 {
    left: 125px;
    top: 1635px;
  }

  #menu .menu div .menu-pizza2 {
    left: 516px;
    top: 1635px;
  }

  #menu .menu div .menu-pizza3 {
    left: 886px;
    top: 1635px;
  }

  #menu .menu div .menu-pizza4 {
    left: 125px;
    top: 2180px;
  }

  #menu .menu div .menu-pizza5 {
    left: 516px;
    top: 2180px;
  }

  #menu .menu div .menu-pizza6 {
    left: 892px;
    top: 2161px;
  }

  #menu .menu div .menu-width {
    left: 0;
    width: 100%;
  }

  #menu .menu div .menu1 {
    left: 0;
    top: 2557px;
  }

  #menu .menu div .menu2 {
    right: 0;
    top: 2572px;
  }

  #taxi .taxi .vector {
    top: 198rem;
    left: 10rem;
  }

  #taxi .taxi .taxi-phone {
    top: 206rem;
    left: 75px;
  }

  #taxi .taxi .taxi-air {
    top: 192rem;
    left: 318px;
  }

  #taxi .taxi .taxi-pizza {
    top: 209rem;
    left: 527px;
  }

  #taxi .taxi .taxi-taxi {
    top: 192rem;
    left: 753px;
  }

  #taxi .taxi .taxi-box {
    top: 208rem;
    left: 1000px;
  }

  #taxi .taxi .touch1 {
    top: 207rem;
    left: 150px;
  }

  #taxi .taxi .touch2 {
    top: 197.5rem;
    left: 355px;
  }

  #taxi .taxi .touch3 {
    top: 206.7rem;
    left: 578px;
  }

  #taxi .taxi .touch4 {
    top: 198rem;
    left: 791px;
  }

  #taxi .taxi .touch5 {
    top: 207rem;
    left: 1012px;
  }

  #taxi .taxi .tax3 {
    left: 0;
    width: 100%;
  }

  #taxi .taxi .tax2 {
    top: 226rem;
    right: 0;
  }

  #photo .photo .photo00 {
    top: 266rem;
    left: 118px;
  }

  #photo .photo .our1 {
    top: 4418px;
    left: 151px;
  }

  #photo .photo .our2 {
    top: 4416px;
    left: 546px;
  }

  #photo .photo .our3 {
    top: 4665px;
    left: 150px;
  }

  #photo .photo .our4 {
    top: 4663px;
    left: 757px;
  }

  #photo .photo .photo-w {
    top: 4770px;
    left: 0;
    width: 100%;
  }

  #help .help-block1 {
    top: 306.2rem;
    right: 32px;
  }

  #help .help-block2 {
    top: 341rem;
    right: 463px;
  }

  #help .help-pizza1 {
    top: 317rem;
    left: 371px;
  }

  #help .help-pizza2 {
    top: 316rem;
    left: 0;
  }

  #help .help-block .icon1 {
    top: 322.5rem;
    right: 466px;
  }

  #help .help-block .icon2 {
    top: 331.3rem;
    right: 465px;
  }

  #help .help-width {
    left: 0;
    width: 100%;
  }

  #contact .carta-width {
    top: 390rem;
    right: 0;
    width: 100%;
  }

  #contact .contact .carta {
    right: 61px;
  }

  #contact .carta1 {
    top: 384rem;
    left: 0;
  }
}
@media (max-width: 1024px) {
  #hero .hero h1 {
    margin-bottom: 400px;
  }

  #hero .hero div .hero-img2 {
    top: 286px;
    left: 148px;
  }

  #hero .hero div .hero-img2 {
    top: 290px;
  }

  #hero .hero div .hero-j1 {
    top: 350px;
    left: 275px;
  }

  #hero .hero div .hero-j2 {
    top: 434px;
    left: 202px;
  }

  #hero .hero div .hero-j4 {
    left: 424px;
    top: 386px;
  }

  #hero .hero div .hero-j5 {
    left: 575px;
    top: 449.1px;
  }

  #hero .hero div .hero-j6 {
    left: 362.23px;
    top: 562.91px;
  }

  #hero .hero div .hero-j7 {
    left: 565.88px;
    top: 521.14px;
  }

  #hero .hero div .hero-img3 {
    bottom: -544px;
  }

  #hero .hero div .hero-img4 {
    position: absolute;
    bottom: -623px;
  }

  #hero .hero div .hero-width {
    top: 1225px;
    width: 100%;
  }

  #hero .hero div .hero-j3 {
    top: 1222px;
    left: 538px;
  }

  #hero .hero-icon div img {
    position: absolute;
    top: 876px;
  }

  #hero .hero-icon div h1 {
    padding-left: 50px;
  }

  #menu .menu div .menu-logo {
    left: 295px;
    top: 1502px;
  }

  #menu .menu div .menu-pizza1 {
    left: 121px;
    top: 2001px;
  }

  #menu .menu div .menu-pizza2 {
    left: 427px;
    top: 1998px;
  }

  #menu .menu div .menu-pizza3 {
    left: 724px;
    top: 2000px;
  }

  #menu .menu div .menu-pizza4 {
    left: 109px;
    top: 2535px;
  }

  #menu .menu div .menu-pizza5 {
    left: 423px;
    top: 2531px;
  }

  #menu .menu div .menu-pizza6 {
    left: 734px;
    top: 2517px;
  }

  #menu .menu div .menu2 {
    top: 2902px;
  }

  #menu .menu div .menu1 {
    top: 2900px;
  }

  #menu .menu div .menu-width {
    width: 100%;
  }

  #taxi .taxi .vector {
    top: 222rem;
    left: 5rem;
  }

  #taxi .taxi .tax1 {
    top: 255rem;
  }

  #taxi .taxi .tax2 {
    top: 250rem;
  }

  #taxi .taxi .tax3 {
    left: 0;
    width: 90%;
  }

  #taxi .taxi .touch1 {
    top: 221.5rem;
    left: 274px;
  }

  #taxi .taxi .touch2 {
    top: 230.5rem;
    left: 496px;
  }

  #taxi .taxi .touch3 {
    top: 222rem;
    left: 707px;
  }

  #taxi .taxi .touch4 {
    top: 231rem;
    left: 928px;
  }

  #taxi .taxi .touch5 {
    top: 231rem;
    left: 70px;
  }

  #taxi .taxi .taxi-phone {
    top: 231rem;
    left: 23px;
  }

  #taxi .taxi .taxi-air {
    top: 216rem;
    left: 237px;
  }

  #taxi .taxi .taxi-pizza {
    top: 233rem;
    left: 442px;
  }

  #taxi .taxi .taxi-taxi {
    top: 216rem;
    left: 632px;
  }

  #taxi .taxi .taxi-box {
    top: 233rem;
    left: 850px;
  }

  #photo .photo .photo-w {
    top: 352rem;
    left: 0;
    width: 100%;
  }

  #help .help {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  #photo .photo .photo00 {
    position: absolute;
    top: 290rem;
    left: 60px;
    width: 904px;
    height: 432px;
  }

  #photo .photo div img {
    padding: 10px;
  }

  #photo .photo div .photo2 {
    width: 526px;
  }

  #photo .photo .our1 {
    top: 300rem;
    left: 96px;
  }

  #photo .photo .our2 {
    top: 300rem;
    left: 475px;
  }

  #photo .photo .our3 {
    top: 314rem;
    left: 100px;
  }

  #photo .photo .our4 {
    top: 314rem;
    left: 640px;
  }

  #photo .photo .photo-w {
    top: 322rem;
  }

  #help .help-block1 {
    top: 337.2rem;
    right: 235px;
  }

  #help .help-block2 {
    position: absolute;
    top: 372rem;
    right: 660px;
  }

  #help .help-block2 {
    top: 372rem;
    right: 660px;
  }

  #help .help-pizza1 {
    top: 344rem;
    left: 712px;
  }

  #help .help-pizza2 {
    top: 356rem;
    left: 50px;
    width: 244px;
  }

  #help .help-block .icon1 {
    top: 362.3rem;
    right: 662px;
  }

  #help .help-block .icon2 {
    top: 353.5rem;
    right: 662px;
  }

  #help .help-width {
    left: 0;
    top: 380rem;
    width: 100%;
  }

  #contact .carta-width {
    top: 420rem;
    right: 0;
    width: 100%;
  }

  #contact .carta1 {
    top: 415rem;
    left: 0;
  }

  #contact .contact .carta {
    right: 52px;
  }
}
@media (max-width: 992px) {
  #menu .menu div .menu-logo {
    left: 262px;
  }

  #hero .hero div .hero-img2 {
    top: 286px;
    left: 148px;
  }

  #menu .menu div .menu-pizza1 {
    left: 113px;
  }

  #menu .menu div .menu-pizza2 {
    left: 415px;
  }

  #menu .menu div .menu-pizza3 {
    left: 687px;
  }

  #menu .menu div .menu-pizza5 {
    left: 407px;
  }

  #menu .menu div .menu-pizza6 {
    left: 697px;
  }

  #taxi .taxi .taxi-taxi {
    top: 216rem;
    left: 610px;
  }

  #taxi .taxi .vector {
    top: 223rem;
    left: 4rem;
  }

  #taxi .taxi .touch1 {
    top: 222.5rem;
    left: 269px;
  }

  #taxi .taxi .touch2 {
    top: 231.5rem;
    left: 483px;
  }

  #taxi .taxi .touch3 {
    top: 223rem;
    left: 685px;
  }

  #taxi .taxi .touch3 {
    top: 223rem;
    left: 685px;
  }

  #taxi .taxi .touch4 {
    top: 231.5rem;
    left: 906px;
  }

  #taxi .taxi .touch5 {
    top: 232rem;
    left: 57px;
  }

  #taxi .taxi .tax3 {
    width: 100%;
  }

  #taxi .taxi .tax1 {
    top: 258rem;
  }

  #taxi .taxi .tax2 {
    top: 252rem;
  }

  #photo .photo div .photo2 {
    width: 497px;
  }

  #photo .photo .photo00 {
    width: 874px;
  }

  #help .help-block2 {
    right: 647px;
  }

  #help .help-block .icon1 {
    top: 353.5rem;
    right: 652px;
  }

  #help .help-block .icon2 {
    top: 362.3rem;
    right: 648px;
  }

  #contact .contact .carta {
    right: 50px;
  }
}
@media (max-width: 768px) {
  #hero .hero-icon div img {
    top: 977px;
  }

  #hero .hero div .hero-img3 {
    bottom: -840px;
  }

  #hero .hero div .hero-img4 {
    bottom: -965px;
  }

  #menu .menu div .menu-logo {
    top: 1606px;
  }

  #menu .menu div .menu-pizza1 {
    left: 100px;
    top: 2175px;
  }

  #menu .menu div .menu-pizza2 {
    left: 490px;
    top: 2175px;
  }

  #menu .menu div .menu-pizza3 {
    left: 80px;
    top: 3247px;
  }

  #menu .menu div .menu-pizza4 {
    left: 98px;
    top: 2710px;
  }

  #menu .menu div .menu-pizza5 {
    left: 492px;
    top: 2708px;
  }

  #menu .menu div .menu-pizza6 {
    left: 484px;
    top: 3236px;
  }

  #menu .menu div .menu-width {
    top: 238rem;
  }

  #menu .menu div .menu1 {
    top: 3636px;
  }

  #menu .menu div .menu2 {
    top: 3636px;
  }

  #taxi .taxi .tit-gen2 div {
    margin: 0 117px;
  }

  #taxi .taxi .tax1 {
    top: 304rem;
  }

  #taxi .taxi .tax2 {
    top: 304rem;
  }

  #taxi .taxi .tax3 {
    position: absolute;
    top: 313rem;
  }

  #taxi .taxi .vector {
    top: 271rem;
    left: 90px;
    width: 573px;
  }

  #taxi .taxi .tit-gen div h1 {
    font-size: 20px;
  }

  #taxi .taxi .tit-gen div p {
    font-size: 11px;
  }

  #taxi .taxi .taxi-phone {
    top: 275rem;
    left: 13px;
    width: 150px;
  }

  #taxi .taxi .taxi-air {
    top: 265rem;
    left: 189px;
  }

  #taxi .taxi .taxi-pizza {
    top: 278rem;
    left: 304px;
  }

  #taxi .taxi .taxi-taxi {
    top: 266rem;
    left: 440px;
  }

  #taxi .taxi .taxi-box {
    top: 278rem;
    left: 627px;
    width: 97px;
  }

  #taxi .taxi .touch1 {
    top: 276.5rem;
    left: 83px;
  }

  #taxi .taxi .touch2 {
    top: 271rem;
    left: 505px;
  }

  #taxi .taxi .touch3 {
    top: 276rem;
    left: 645px;
  }

  #taxi .taxi .touch4 {
    top: 270.5rem;
    left: 217px;
  }

  #photo .photo div img {
    padding: 10px;
    width: 226px;
  }

  #photo .photo div .photo2 {
    width: 419px;
  }

  #photo .photo .photo00 {
    top: 334.8rem;
    left: 51px;
    border-radius: 18px;
    width: 666px;
    height: 322px;
  }

  #photo .photo .our1 {
    top: 342rem;
    left: 71px;
  }

  #photo .photo .our2 {
    top: 342rem;
    left: 321px;
  }

  #photo .photo .our3 {
    top: 353rem;
    left: 66px;
  }

  #photo .photo .our4 {
    top: 353rem;
    left: 508px;
  }

  #photo .photo .photo-w {
    top: 359rem;
  }

  #help .help-block1 {
    top: 375.2rem;
    right: 109px;
  }

  #help .help-block2 {
    top: 410rem;
    right: 532px;
  }

  #help .help-pizza2 {
    top: 370rem;
    left: 50px;
    width: 134px;
  }

  #help .help-pizza1 {
    top: 394rem;
    left: 626px;
    width: 100px;
  }

  #help .help-block .icon1 {
    top: 391.5rem;
    right: 536px;
  }

  #help .help-block .icon2 {
    top: 353.5rem;
    right: 662px;
  }

  #help .help-block .icon2 {
    top: 400.5rem;
    right: 535px;
  }

  #help .help-width {
    top: 420rem;
  }

  #contact .carta-width {
    top: 460rem;
  }

  #contact .carta1 {
    top: 454rem;
  }

  #contact .contact .carta {
    right: 39px;
  }
}
@media (max-width: 576px) {
  #header .header {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=media.css.map */
